<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>排队叫号系统 --- @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/themes/css/admin/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/css3/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/admin/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/admin/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/admin/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/css/admin/chosen.css" rel="stylesheet" />    
    <link href="~/Content/public.css" rel="stylesheet" /> 
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)

    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Validform.js"></script>
    <script type="text/javascript" src="~/Content/js/index.js"></script>
    <script type="text/javascript" src="~/Content/themes/css/admin/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/admin/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/admin/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/js/admin/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/admin/colResizable-1.5.min.js"></script>
    <script type="text/javascript" src="~/Content/js/admin/chosen.jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="~/Content/js/function.js"></script>
    <script type="text/javascript" src="~/Scripts/PublicScript.js"></script>
    @RenderSection("PageSpecificJavascriptIncludes", required: false)
</head>
<body>
        @RenderBody()
</body>
</html>
