<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerIp" value="127.0.0.1"/>
    <add key="WTcpPort" value="9815"/>
    <add key="STcpPort" value="9816"/>
    <add key="WHttpPort" value="9817"/> 
    <add key="AppCode" value="bab9e6478cc8"/>
    <add key="BranchNo" value="170858507526"/>
    <add key="Adapter" value="YcrenminAdapter"/>
    <add key="BusinessDAL" value="EntFrm.Business.SQLServerDAL" /> 
    <add key="SqlServer" value="QWH6Ez/Hr0VCab46wNFQsSdiAKHc0OUslcetC576/afxBIn0fL5VBVQIQ1Zf2jPd+eQ5paITv/k1dW1ELRHAZG9jPUrhDbb1avDFtBKCnyGGyaf99zJ9Q1i6Jy+afvluebDxXt+7A51CW7Y1tNSXpkMDWaCZ7wZ7ktW4aA6iMLE="/>
    <add key="SqlServer2" value="QWH6Ez/Hr0VCab46wNFQsSdiAKHc0OUslcetC576/afxBIn0fL5VBVQIQ1Zf2jPd+eQ5paITv/k1dW1ELRHAZG9jPUrhDbb1avDFtBKCnyGGyaf99zJ9Q1i6Jy+afvluebDxXt+7A51CW7Y1tNSXpkMDWaCZ7wZ7ktW4aA6iMLE="/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MessagePackImplServiceSoapBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="DicContentServiceSoapBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="MqWsSoap" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="DicContentServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.177.124.33:8011/mdm1/webservice/dicContent"
                binding="basicHttpBinding" bindingConfiguration="DicContentServiceSoapBinding"
                contract="DicContentService.IDicContent" name="DicContentPort" />
            <endpoint address="http://10.177.124.35:8011/mat1/webservice/messagePack"
                binding="basicHttpBinding" bindingConfiguration="MessagePackImplServiceSoapBinding"
                contract="MessagePackService.MessagePack" name="MessagePackImplPort" />
            <endpoint address="http://10.177.124.28:8899/MQ_Webservice/MqWs.asmx"
                binding="basicHttpBinding" bindingConfiguration="MqWsSoap"
                contract="MssgQueueService.MqWsSoap" name="MqWsSoap" />
        </client>
    </system.serviceModel>
</configuration>
