<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppCode" value="bab9e6478cc8" />
    <add key="BranchNo" value="170858507526" />
    <add key="BusinessDAL" value="EntFrm.Business.SQLServerDAL" />
    <add key="SqlServer" value="QWH6Ez/Hr0VCab46wNFQsSdiAKHc0OUslcetC576/afxBIn0fL5VBVQIQ1Zf2jPd+eQ5paITv/k1dW1ELRHAZG9jPUrhDbb1avDFtBKCnyGGyaf99zJ9Q1i6Jy+afvluebDxXt+7A51CW7Y1tNSXpkMDWaCZ7wZ7ktW4aA6iMLE="/>
  </appSettings>
    <startup>         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
