
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="~/Content/layui/css/layui.css" media="all">
    <style>
        .rb {
            position: absolute;
            right: 30px;
            bottom: 30px;
        }

        .layui-btn {
            line-height: 60px;
            height: 60px;
            font-size: 36px;
        }
    </style>
</head>
<body style="margin:0; padding:0; background: url(/Content/images/qhwy_bg.png) no-repeat 0 0px; background-attachment:fixed; background-size:100%; height:auto;">
    <div class="rb"><button class="layui-btn" onclick="RCardSigninDialog()">刷卡挂号</button></div>
</body>
</html>