@{
    ViewBag.Title = "Error_400";
    Layout = "~/Views/Shared/Error.cshtml";
}

<div class="container animated fadeInDown">
    <h1 class="error-number">400</h1>
    <h1 class="text-center mb25">Bad request ...</h1>
    <p class="text-center s24">The request cannot be fulfilled due to bad syntax.</p>
    <div class="text-center mt25">
        <div class="btn-group">
            <a href="javascript: history.go(-1)" class="btn btn-default btn-lg"><i class="en-arrow-left8"></i>  Go back</a>
            <a href="/Account/Index" class="btn btn-default btn-lg"><i class="ec-locked"></i> Login</a>
            <a href="/Account/Index" class="btn btn-default btn-lg"><i class="en-mail"></i> Contact admin</a>
        </div>
    </div>
</div>
